body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Karla", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

body h1 {
  font-family: "Julius Sans One", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
