.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title h1 {
  text-align: center;
}
img {
  width: 100%;
}
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details h3,
p {
  padding: 0;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3 {
  padding: 0;
}
.activitiesContainer {
  padding-left: 5vw;
  padding-right: 5vw;
}
