.heading {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 2vh;
}
.seeAllLink {
  text-decoration: none;
  color: rgb(241, 137, 0);
  padding-top: 2vh;
  margin-left: 10vw;
}

.filterTextBox {
  width: 120px;
  height: 3vh;
  border: none;
  border-bottom: 2px solid rgb(27, 37, 131);
  padding-top: 2vh;

  text-align: center;
  margin-left: auto;
}

.heading h1 {
  margin: 3vw;
  margin-bottom: 0;
}

.cardbody {
  margin-bottom: 20px;
}
.cardbody a {
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cardbody a:hover {
  color: rgb(38, 40, 151);
}

.cardbody img {
  width: 100%;
  height: 40vh;
}

.cardbody h2 {
  text-align: center;
}

.itineraryDetailsUnderTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}
.itineraryDetailsUnderTitle .detail {
  padding: 2vw;
}
.itineraryDetailsUnderTitle h3 {
  margin: 0;
}

/* cities specific */
