.cardbody {
  margin-bottom: 20px;
}
.cardbody a {
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cardbody a:hover {
  color: rgb(38, 40, 151);
}

.cardbody img {
  width: 100%;
  height: 40vh;
}

.cardbody h2 {
  text-align: center;
}

.itineraryDetailsUnderTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}
.itineraryDetailsUnderTitle .detail {
  padding: 2vw;
}
.itineraryDetailsUnderTitle h3 {
  margin: 0;
}

/* cities specific */
.citiesHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3vw;
  padding-right: 3vw;
}

.citiesHeading p {
  padding-top: 15px;
}
.citiesHeading a {
  color: rgb(37, 35, 138);
  text-decoration: none;
}
